.reservation {
    display: flex;
    flex-direction: column;
    color: teal;
    border: 5px solid teal;
    background-color: white;
    margin: 1.5vw;
    width: 15vw;
    align-items: center;
    
}

.cancel {
    background-color: teal;
    width: 10vw;
    margin-bottom: 1vw;
    color: white;
}